@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

/* CSS Global  */

body {
    font-style: "Roboto";
    font-size: 1rem;
    margin: 0;
}

.cta {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

header {
    padding: 40px;
    border: 1px solid black;
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.297);
}

.img--destinations {
    max-width : 100%;
    height : auto;
}

/* header  */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    display: flex;
}

/* section destinations  */
.Destinations {
    display: flex;
    flex-direction: row;
}

.paris {
    display: flex;
    flex-direction: row;
}

.tokyo {
    display: flex;
    flex-direction: row;
}

.New-York {
    display: flex;
    flex-direction: row;
}