@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

/* CSS Global  */

body {
    font-style: "Roboto";
    font-size: 1rem;
    margin: 0;
}

.cta {
    text-decoration: none;
}